<!DOCTYPE html>
<html lang="en">
<head>
      <meta charset="UTF-8">
      <meta name="viewport" content="width=device-width, initial-scale=1.0">
      <title>Document</title>
      
	<link rel="stylesheet" href="/src/frontend/style/output.css" />
</head>
<body>

      <div class="absolute top-1/2 left-1/2 -translate-x-1/2 -translate-y-1/2">
            <div class=" flex flex-col mt-[-18px] relative passField ">
                  <input type="password" name="password" id="pass" placeholder="" class="peer border border-gray-400 rounded-[50px] py-[20px] px-[33px] mt-6 outline-none" required>
                  <label for="pass"
                        class="absolute px-8 py-10 :text-teal-400 valid:text-teal-400
                        peer-placeholder-shown:top-1 
                        peer-focus:-top-4
                        peer-valid:-top-4
                        ">
                        Password
                  </label>
            </div>
            <div class="relative mt-6">
                  <input 
                    type="text" 
                    required
                    class="peer w-full border border-gray-400 rounded-lg px-3 pt-5 pb-2 text-gray-900 placeholder-transparent focus:outline-none focus:border-blue-500 valid:border-blue-500"
                    placeholder="Username"
                  />
                
                  <span 
                    class="absolute left-3 top-10 text-gray-500 text-sm transition-all 
                        peer-placeholder-shown:top-2 peer-placeholder-shown:text-base peer-placeholder-shown:text-gray-400
                           peer-focus:-top-2 peer-focus:text-sm peer-focus:text-blue-500
                           peer-valid:-top-2 peer-valid:text-sm peer-valid:text-blue-500">
                    Username
                  </span>
                </div>
                
      </div>
      
      <div class="flex flex-col mt-6 group">
            <img src="/assets/uname.png" width="38px" class="absolute top-[50%] left-[85%]">
            <input type="text" name="username" placeholder=" " class="peer text-gray-700 border border-gray-400 rounded-[50px] py-[22px] px-[33px] mt-6 outline-none focus:border-blue-500 transition-all duration-300" required>
            <label
                  class="absolute top-1/2 left-2 bg-white px-[10px] text-gray-600 transition-all duration-300 ease-in-out
                        peer-placeholder-shown:top[15%]
                        peer-focus:-top-1 peer-valid:-top-1
                        ">
                  Username
            </label>
      </div>

      <div class="flex flex-col mt-[-18px] group passField">
            <img src="/assets/pass.png" width="22px" class="absolute top-[50%] left-[87%]" id="ps-icon">
            <input type="password" name="password" id="pass" placeholder="" class="peer text-gray-700 border border-gray-400 rounded-[50px] py-[20px] px-[33px] mt-6 outline-none focus:border-blue-500 transition-all duration-300" required>
            <label for="pass"
                  class="
                        absolute top-1/2 px-6
                        peer-placeholder-shown:top-1/2
                        peer-focus:top-2
                        peer-valid:top-2
                  ">
                  Password
            </label>
      </div>
</body>
</html>